meta(charset='utf-8')
meta(name='description', content='Otmar Rychlik')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

title Otmar Rychlik

link(rel='stylesheet', href='assets/css/main.css', type='text/css')

script(type='text/javascript' src='assets/js/jquery.min.js')
script(type='text/javascript' src='assets/js/script.js')
