section.menu
  .menu-list
    ul
      li
        a(href='') Persönlich
        span 1. FEBER 2016
      li
        a(href='') Kunsthistoriker
        span 1. FEBER 2016
      li
        a(href='') Verleger
        span 1. FEBER 2016
      li
        a(href='') Kunstschriftsteller
        span 1. FEBER 2016
      li
        a(href='') Kurator
        span 1. FEBER 2016
      li
        a(href='') Produzent
        span 1. FEBER 2016
      li
        a(href='') Sammler
        span 1. FEBER 2016
      li
        a(href='') Berater
        span 1. FEBER 2016
      li
        a(href='') Auftraggeber
        span 1. FEBER 2016
      li
        a(href='') Denkmalschützer
        span 1. FEBER 2016
      
